.card {
    width: 282px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    margin: 0 auto;
}

.card__photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
    max-height: 282px;
}

.card__details {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 21px;
    margin-right: 15px;
}

.card__location {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.card__like-button {
    width: 21px;
    height: 19px;
    align-self: center;
    cursor: pointer;
    background-image: url("../images/heart_unfilled.svg");
    border: 0;
    background-color: transparent;
}

.card__like-button:hover {
    opacity: 0.5;
}