.card {
    height: 361px;
    width: 282px;
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    color: black;
    border-radius: 10px;
    margin: 0 auto;
}

.card__photo {
    width: 100%;
    border-radius: 10px 10px 0 0;
    max-height: 282px;
}

.card__details {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    margin-left: 21px;
    margin-right: 15px;
}

.card__location {
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
}

.card__like_unliked {
    width: 21px;
    height: 19px;
    align-self: center;
}