.page {
    background-color: #000000;
    font-family: "inter", Arial, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 20px;
    color: white;
    max-width: 1280px;
    margin: 0 auto;
}

.page__content {
    min-height: 100vh;
    min-width: 320px;
    max-width: 880px;
    margin: 0 auto;
}

@media screen and (max-width: 900px) {
    .page__content {
        max-width: 580px;
    }
}

@media screen and (max-width: 580px) {
    .page__content {
        max-width: 282px;
    }
}