.popup {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    right: 0;
    left: 0;
    visibility: hidden;
    opacity: 0;
    transition: visibility 0.6s, opacity 0.3s linear;
}

.popup_true {
    visibility: visible;
    opacity: 1;
}

.popup__content {
    width: 430px;
    background-color: white;
    color: black;
    border-radius: 10px;
    position: relative;
}

.popup__title {
    margin: 0 auto;
    margin-top: 34px;
    margin-bottom: 20px;
    font-weight: 900;
    font-size: 24px;
    line-height: 1.21;
    width: 358px;
}

.popup__close {
    position: absolute;
    width: 40px;
    height: 40px;
    top: -45px;
    right: -45px;
    background: transparent url(../images/Close\ Icon.svg);
    background-repeat: no-repeat;
    background-size: cover;
    border: none;
    cursor: pointer;
}

.popup__close:hover {
    opacity: 0.6;
}

.popup__form {
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    flex-direction: column;
}

.popup__input {
    font-size: 14px;
    font-family: "inter", Arial, sans-serif;
    color: black;
    width: 358px;
    line-height: 1.21;
    border-bottom: rgba(0, 0, 0, 0.2) 1px solid;
    border-top: none;
    border-left: none;
    border-right: none;
    padding-bottom: 14px;
    margin: 0 auto;
    margin-top: 30px;
}

.popup__save-button {
    margin: 0 auto;
    margin-top: 48px;
    margin-bottom: 36px;
    width: 358px;
    height: 50px;
    background-color: black;
    color: white;
    font-size: 18px;
    line-height: 1.21;
    display: block;
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.popup__save-button:hover {
    opacity: 0.8;
}

.popup__content_type-image {
    max-height: 75vh;
    max-width: 75vw;
    width: auto;
    height: auto;
    border-radius: 0;
    background-color: none;
    background: none;
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
}

.popup__image {
    max-width: 100%;
    max-height: 75vh;
}

.popup__caption {
    position: absolute;
    font-size: 12px;
    line-height: 1.21;
    top: calc(100% + 10px);
    margin: 0;
    padding: 0;
    color: white;
}

@media screen and (max-width: 580px) {
    .popup__content {
        width: 282px;
    }
    .popup__title {
        max-width: 238px;
        margin-top: 25px;
        font-size: 18px;
    }
    .popup__close {
        width: 26px;
        height: 26px;
        top: -38.62px;
        right: 0;
    }
    .popup__input-type-name {
        margin-top: 76px;
    }
    .popup__input {
        max-width: 238px;
    }
    .popup__save-button {
        max-width: 238px;
        font-size: 14px;
    }
    .popup__content_type-image {
        max-height: 75vh;
        max-width: 75vw;
        width: auto;
        height: auto;
        border-radius: 0;
        background-color: transparent;
        display: flex;
        align-items: flex-start;
        justify-content: flex-start;
    }
}