.profile {
    width: 100%;
    display: flex;
    margin-top: 36.25px;
}

.profile__picture {
    border-radius: 200px;
    width: 127.5px;
    height: 127.5px;
}

.profile__owner {
    align-self: center;
    margin-left: 30px;
}

.profile__nameEdit {
    display: flex;
}

.profile__name {
    font-weight: 500;
    font-size: 42px;
    line-height: 1.42;
    margin: 0;
    max-width: 500px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__title {
    margin: 16px 0 0 0;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.21;
    max-width: 460px;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}

.profile__edit-button {
    margin-left: 18px;
}

.profile__edit-button:hover {
    cursor: pointer;
    opacity: 0.6;
}

.profile__add-button_small {
    width: 150px;
    height: 50px;
    margin-left: auto;
    align-self: center;
}

.profile__add-button_large {
    display: none;
}

.profile__add-button_small:hover {
    cursor: pointer;
    opacity: 0.6;
}

@media screen and (max-width: 900px) {
    .profile {
        flex-direction: column;
    }
    .profile__picture {
        margin: 0 auto;
    }
    .profile__add-button_small {
        display: none;
    }
    .profile__add-button_large {
        display: block;
        width: 282px;
        height: 50px;
        margin: 36px auto auto auto;
        align-self: center;
    }
}

@media screen and (max-width: 580px) {
    .profile__nameEdit {
        margin-top: 26.25px;
    }
    .profile__name {
        font-size: 22px;
    }
    .profile__edit-button {
        margin-left: 10px;
    }
    .profile__title {
        margin: 14 auto auto auto;
        font-size: 14px;
        text-align: center;
    }
}