.header {
    border-bottom: 1px solid rgb(84, 84, 84, 0.7);
    padding-bottom: 41px;
}

.header__image {
    max-width: 173px;
    max-height: 33px;
    margin-top: 45px;
}

@media screen and (max-width: 580px) {
    .header {
        padding-bottom: 32px;
    }
    .header__image {
        margin-left: 27px;
        margin-top: 28px;
        width: 126px;
        height: 24px;
    }
}