.photo-grid {
    margin-top: 50px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    column-gap: 17px;
    row-gap: 20px;
}

@media screen and (max-width: 580px) {
    .photo-grid {
        margin-top: 36px;
    }
}